.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(31, 31, 31, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-weight: 500;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background-color: transparent;
  text-align: center;
  display: flex;
  gap: 8px;
  padding: 0;
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
  opacity: 0.7;
}
.profile__edit-btn:hover {
  opacity: 1;
}

.profile__pencil-icon {
  color: rgba(33, 33, 33, 1);
}

.profile__new-post {
  display: flex;
  justify-content: end;
}

.profile__add-btn {
  margin-left: auto;
  padding: 0;
  width: 149px;
  height: 52px;
  color: #fcf5e5;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  align-self: end;
  text-align: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
  justify-content: center;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

.profile__new-post {
  max-width: 7xpx;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    align-items: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 288px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    justify-content: center;
  }
}
